<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" id="logo" href="#">Movie Review</a> -->
      <%=link_to "Movie Review", root_path, class: "navbar-brand", id: "logo"%>
    </div>
    <ul class="nav navbar-nav">
      <li><%=link_to "New Movie", new_movie_path%></li>
    </ul>
    <%= form_tag search_movies_path, method: :get, class: "navbar-form navbar-right", role: " search" do %>
    	<p>
    		<%= text_field_tag :search, params[:search], class: "form-control"%>
    		<%= submit_tag "Search", name: nil,class: "btn btn-default"%>
    	</p>
    <% end -%>
  </div>
</nav>

  
<!-- <div class="container">
  <h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>
 -->